.login-modern-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color:white; /* El mismo degradado que el Register */
  padding: 10vw;
}

.login-modern-title {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.login-modern-form {
  background-color: #fff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.input-group input {
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.1rem;
  color: #333;
  transition: border-color 0.3s ease;
}

.input-group input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.login-modern-button {
  background-color: #007bff;
  color: white;
  padding: 16px 25px;
  border: none;
  border-radius: 10px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-modern-button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.login-modern-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.login-modern-error-message {
  color: #dc3545;
  margin-bottom: 25px;
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
}