.perfilContainerPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 12%;
    



}
@media screen and (min-width: 1024px) {
    .perfilContainerPage {
        margin-top: 3%;
    }
}
.perfilContainerPage {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.perfilContainerPage[data-loading="false"] {
    opacity: 1;
}
