.perfilContainerPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20vh;
  background: linear-gradient(to bottom, #FFB6C1 10%, #FFD6DA 40%, #FFF 90%);


}
.perfilContainerImg{
    width: 30%;
    height: auto;
;

}
.imgPerfillogo{
    width: 100%;
    height: 100%;
}
