/* Estilos generales */
.containerPresen {
  background: linear-gradient(to bottom, #FFB6C1 10%, #FFD6DA 40%, #FFF 90%);

  width: 100%;
  height: auto;
  padding-bottom: 15vw;
  padding-top: 25vw;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.containerHome {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.titleHome {
  /* Título principal: tamaño mínimo 2rem, ideal basado en 4vw, máximo 4rem */
  font-size:11vw;
  width: 100%;
  text-align: center;
  color: #333333;
  margin: auto;
  padding: 10%;
  padding-bottom: 0;
  line-height: 1;
}

.textDescripcionInicialHome {
  /* Descripción: tamaño mínimo 1rem, ideal 3vw, máximo 2rem */
  color: #333333;
  margin: auto;
  width: 60%;
  text-align: center;
  font-size: 4vw;
  margin-top: 5%;
  margin-bottom: 10vw;
  text-shadow: 1px 1px 3px lightgray, 0 0 2px gray;
  font-size: 6vw;
}

.containerButtonInicialHome {
  width: auto;
  height: auto;
  margin: auto;
  padding: 3vw;
  text-align: center;
  margin-bottom: 20vw;
  font-size: 2vw;
}

.buttonIncialHome {
  /* Botón inicial: tamaño mínimo 1rem, ideal 3vw, máximo 1.5rem */
  text-decoration: none;
  font-size:2vw;
  color: white;
  padding: 6%;
}

/* Estilos de Escogernos */
.containerEscogenos {
  background-color: white;
  width: 100%;
  height: auto;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to bottom, #FFFFFF 10%, #FFEAEA 50%, #FFFFFF 90%);

}

.titleHomeEscogernos {
  /* Títulos secundarios: mínimo 1.5rem, ideal 3.5vw, máximo 3rem */
  font-size:5vh;
  padding: 10%;
  margin-top: 10%;
}

.titleHomeServicios {
  font-size: 5vh;
  padding: 10%;
  margin-top: 10%;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.7);
}

.ContainerServicioDestacados {
  background: linear-gradient(to bottom, #FFFFFF, #FFB6C1 100%);
  width: 100%;
  height: auto;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.containerButtonInicialHomeServicio {
  width: 55%;
  height: auto;
  margin: auto;
  background-color: #ec7063;
  padding: 3vw;
  text-align: center;
  margin-bottom: 20vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
}

.buttonIncialHomeServicio {
  text-decoration: none;
  font-size: clamp(1rem, 3vw, 1.5rem);
  color: white;
  padding: 7%;
}

.textDescripcionInicialHomeServicio {
  /* Descripción secundaria: mínimo 1rem, ideal 3vw, máximo 1.5rem */
  color: #333333;
  margin: auto;
  width: 85%;
  text-align: center;
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin-top: 5%;
  margin-bottom: 10vw;
}

/* Estilos para Productos */
.containerHomeProduct {
  background-color: white;
  padding-bottom: 10vw;
}

.containerHomeProductImg {
  width: 100%;
  height: 40vh;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);
}

.imgHomeProduct {
  width: 100%;
  height: 100%;
}

.titleHomeProduct {
  text-align: center;
  font-size:8vw;
  margin-bottom: 5vw;
  margin-top: 3vh;
}

.descriptionHomeProduct {
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: 5vw;
  margin-bottom: 5vw;
}

.containerHomeTestimonio {
  width: 100%;
  height: auto;
  background: linear-gradient(to bottom, #FFFFFF 10%, #FFB6C1 50%, #FFFFFF 90%);

  
}

.btnCommon {
  font-family: "Comorant", sans-serif;
  font-style: italic;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  margin: 0 5px;
  display: inline-block;
  text-align: center;
  width: auto;
  font-size: 3.5vw;
}

.btnConocer {
  background-color:transparent;
  border:solid 2px #ec7063;
  color: #ec7063;
  font-weight: 800;
  font-size: 1.5rem;
}

.btnCrear {
  background-color:transparent;
  border:solid 2px #28a739;
  color: #28a739;
  font-weight: 800;
}

.btnIniciar {
  background-color:transparent;
  border: solid 2px #ec7063;
  color: #ec7063;
  font-weight: 800;
}

.btnGroup {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
}

/* 
  Con clamp() se evitan problemas de escalado excesivo en dispositivos móviles, ya que 
  se establece un tamaño mínimo y máximo para cada fuente.
  
  Puedes ajustar los valores de clamp() según tus necesidades de diseño.
*/
