@font-face {
  font-family: "Catamaran";
  src: url("../assets/Catamaran/static/Catamaran-Regular.ttf") format("truetype");
  font-weight: normal;
  /* Peso normal */
  font-style: normal;
  /* Estilo normal */
}
