.footer {
  background: white;
  padding-top: 5vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.footerDerechoAutor {
  text-align: center;
  font-size: 4vw;
}

.titleContFooter {
  font-size: 6vw;
  font-style: italic;
}

.contact-list {
  font-size: 4vw;
}

.contact-item {
  margin-bottom: 2vh;
  margin-left: 2vh;
}


.titleSegFooter {

  font-size: 6vw;
  font-style: italic;

}

.social-media-list {
  font-size: 4vw;



}

.socialMediaItem {
  margin-bottom: 2vw;
}
